<div class="container">
  <div class="description-container">
    <h2 class="title">{{ 'Bookmark.Title' | translate}}</h2>

    <div class="description">
      <p [innerHTML]="'Bookmark.Description' | translate"></p>
    </div>
  </div>

  <div class="bookmark-stock-filter">
    <form [formGroup]="bookmarkStockForm" (ngSubmit)="getBookmarkStocks(bookmarkStockForm)">
      <mat-form-field>
        <mat-select formControlName="symbol">
          <mat-option>{{ 'Bookmark.BookmarkFilter.None' | translate }}</mat-option>
          <mat-option [value]="option.symbol" *ngFor="let option of symbols">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'Bookmark.BookmarkFilter.ChooseADate' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!bookmarkStockForm.valid">
        {{ 'Bookmark.BookmarkFilter.Search' | translate }}
      </button>
    </form>
  </div>

  <div class="bookmark-stock-list">
    <div *ngIf="stocks.length != 0" class="previous-close">
      <span>
        <b>{{ 'Bookmark.BookmarkList.PreviousClosePrice' | translate}}</b>
        {{ stocks[0].previous_close_price | currency : stocks[0].currency : "symbol-narrow" }} .
        {{ stocks[0].previous_close_price_time | date : "medium" }}
      </span>
    </div>
    <table mat-table [dataSource]="stocks" class="mat-elevation-z8" *ngIf="stocks.length != 0">
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Created Date Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>{{ 'Bookmark.BookmarkList.Time' | translate }}</th>
        <td mat-cell *matCellDef="let stock">
          {{ stock.createdDate | date : "shortTime" }}
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>{{ 'Bookmark.BookmarkList.Price' | translate }}</th>
        <td mat-cell *matCellDef="let stock">{{ stock.price | currency : stock.currency : "symbol-narrow" }}</td>
      </ng-container>

      <!-- Price Diff Price Column -->
      <ng-container matColumnDef="price_diff">
        <th mat-header-cell *matHeaderCellDef>{{ 'Bookmark.BookmarkList.PriceDiff' | translate }}</th>
        <td mat-cell *matCellDef="let stock">
          <span *ngIf="stock.price_diff >= 0">+</span>
          {{ stock.price_diff.toFixed(2).toString() }}
        </td>
      </ng-container>

      <!-- Previous Close Price Column -->
      <ng-container matColumnDef="price_diff_percentage">
        <th mat-header-cell *matHeaderCellDef>{{ 'Bookmark.BookmarkList.PriceDiffPercentage' | translate }}</th>
        <!-- <td mat-cell  *matCellDef="let stock; let i = index;" [ngClass]="{'positive': stock.price_diff_percentage >= 0, 'negative': stock.price_diff_percentage < 0}"> -->
        <td mat-cell *matCellDef="let stock; let i = index" [class]="getClass(i, stock.price_diff_percentage)">
          {{ stock.price_diff_percentage.toFixed(2).toString() }} %
          <span class="state-arrow" [ngClass]="{ 'arrow-down': isArrowDown(i, stock.price_diff_percentage) }">
            <svg width="16" height="16" viewBox="0 0 12 12">
              <path d="M6,0.002L0 6.002 4.8 6.002 4.8 11.9996 7.2 11.9996 7.2 6.002 12 6.002z"></path>
            </svg>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="no-data" *ngIf="stocks.length == 0">
      <img src="../assets/gif/143392-sad-animation.gif" />
    </div>
  </div>
</div>

<app-waiter [wait]="isWaitingForResponse"></app-waiter>
