.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

    .description-container {
        text-align: center;
        .title {
            font-family: "Google Sans", Roboto, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 2rem;
        }
        .description {
            display: flex;
            align-items: center;
        }
    }

    .form-filter > form {
        display: flex;
        gap: 2%;
        button {
            margin-top: 10px;
        }
    }

    .bookmark-stock-list {
        width: 50%;
        margin-top: 2%;
        .no-data {
            display: flex;
            justify-content: center;
        }
    }
}
