.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

    .description-container {
        text-align: center;
        .title {
            font-family: "Google Sans", Roboto, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 2rem;
        }
        .description {
            display: flex;
            align-items: center;
        }
    }

    .bookmark-stock-filter > form {
        display: flex;
        gap: 2%;
        button {
            margin-top: 10px;
        }
    }

    .bookmark-stock-list {
        width: 50%;
        margin-top: 2%;
        .no-data {
            display: flex;
            justify-content: center;
        }
        .previous-close {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin: 2% 0;

            letter-spacing: 0.025em;
            font-family: Roboto, Arial, sans-serif;
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1rem;
            color: #5f6368;
        }
    }
    .state-arrow {
        line-height: 1rem;
        margin-right: 4px;
        > svg {
            fill: currentColor;
            flex-shrink: 0;
        }
        &.arrow-down > svg {
            transform: rotate(180deg);
            margin-right: 5px;
            margin-bottom: 2px;
        }
    }

    .positive {
        color: #137333;
    }

    .negative {
        color: #d93025;
    }
}
