.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;

  .description-container {
    text-align: center;
    .title {
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 2rem;
    }
    .description {
      display: flex;
      align-items: center;
    }
  }

  .stock-filter {
    margin: 15px;
  }

  .stock-list {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-top: 2%;

    .stock-detail {
      margin-right: 15px;
      min-width: 450px;

      .card {
        padding: 15px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
        transition: all 0.4s ease;

        .header {
          padding-left: 0;
          align-items: center;
          justify-content: space-between;

          .title {
            margin: 0;
            padding-top: 2px;
            font-family: "Google Sans", Roboto, Arial, sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 2rem;
          }
        }

        .content {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5% 0;

          > div {
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }

          > div:not(:last-child) {
            margin-right: 15px;
          }

          .price {
            font-family: "Google Sans", Roboto, Arial, sans-serif;
            font-size: 2.25rem;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 2.75rem;
          }

          .price-diff-perc {
            letter-spacing: 0.00625em;
            font-family: "Google Sans", Roboto, Arial, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            padding: 0 8px;
            border-radius: 8px;
            min-width: 40px;
            color: #137333;
            background: #e6f4ea;
            height: 32px;
            .state-arrow {
              line-height: 1rem;
              margin-right: 4px;
              > svg {
                fill: currentColor;
                flex-shrink: 0;
              }
              &.arrow-down {
                transform: rotate(180deg);
                margin-right: 5px;
                margin-bottom: 2px;
              }
            }
          }

          .price-diff {
            letter-spacing: 0.00625em;
            font-family: "Google Sans", Roboto, Arial, sans-serif;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5rem;
            word-spacing: 1px;
          }

          .positive {
            color: #137333;
          }

          .negative {
            color: #d93025;
          }
        }

        .footer {
          width: 100%;
          letter-spacing: 0.025em;
          font-family: Roboto, Arial, sans-serif;
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1rem;
          color: #5f6368;
        }
      }

      // .card:hover {
      //   transform: scale(1.03);
      // }
    }
  }
}
