<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <div class="title" routerLink="/">
      <img src="../assets/svg/inter-lab-icon.svg" width="50" height="50">
      <span>InterLab</span>
    </div>

    <div class="spacer"></div>
    <button mat-icon-button routerLink="/bookmark-stock">
      <mat-icon>bookmark</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">

  <div class="description-container">

    <h2 class="title">
      Bienvenu dans InterLab
    </h2>

    <div class="description">
      <p>
        Explorez les performances boursières de Tesla, Microsoft et Apple avec notre application intuitive. <br>
        Obtenez des informations précieuses, suivez les tendances historiques et prenez des décisions d'investissement
        éclairées. <br> <br>
        Grâce à notre fonction de filtrage unique, vous pouvez facilement vous concentrer sur l'entreprise spécifique
        que vous souhaitez analyser. <br>
        De plus, enregistrez vos actions préférées pour un accès rapide et une gestion de portefeuille efficace.
      </p>
      <!-- <p>
          Explore the stock performance of Tesla, Microsoft, and Apple with our intuitive application. <br>
          Gain valuable insights, track historical trends, and make informed investment decisions. <br> <br>
          With our unique filtering feature, you can easily focus on the specific company you want to analyze. <br>
          Additionally, save your favorite stocks for quick access and efficient portfolio management.
        </p> -->
      <img src="../assets/gif/stock-app-animation.gif" width="175" height="175">
    </div>

  </div>

  <div class="stock-filter">

    <mat-chip-listbox [multiple]="true" (change)="symbolsChanging($event)">
      <mat-chip-option *ngFor="let symbol of symbols" [value]="symbol" selected="true">
        {{ symbol.name }}
      </mat-chip-option>
    </mat-chip-listbox>

  </div>

  <div class="stock-list">

    <div *ngFor="let stock of stocks; index as i" class="stock-detail">

      <mat-card class="card">

        <mat-card-header class="header">
          <mat-card-title class="title">{{ stock.ticker }} - {{ stock.name }} </mat-card-title>
          <button mat-fab color="primary" (click)="saveStock(stock)">
            <mat-icon>bookmark_border</mat-icon>
          </button>
        </mat-card-header>

        <mat-card-content class="content">

          <div class="price">
            {{ stock.price | currency: stock.currency:'symbol-narrow' }}
          </div>

          <div class="price-diff-perc">
            <span *ngIf="stock.price_diff >= 0" class="state-arrow">
              <svg focusable="false" width="16" height="16" viewBox="0 0 24 24">
                <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"></path>
              </svg>
            </span>
            {{ stock.price_diff.toFixed(2).toString() }} %
          </div>

          <div class="price-diff">
            <span *ngIf="stock.price_diff_percentage >= 0">+</span>
            {{ stock.price_diff_percentage | number:'1.2' }} Aujourd'hui
          </div>

        </mat-card-content>

        <mat-card-footer class="footer">
          <span>
            {{ stock.last_trade_time | date:'medium' }} - {{ stock.currency }} - {{ stock.exchange_short }}
          </span>
        </mat-card-footer>

      </mat-card>

    </div>

    <div *ngIf="stocks.length == 0">
      <img src="../assets/gif/143392-sad-animation.gif">
    </div>

  </div>

</div>

<div class="waiter" *ngIf="isWaitingForResponse">
  <mat-spinner class="spinner"></mat-spinner>
</div>