<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <div class="title" routerLink="/">
      <img src="../assets/svg/inter-lab-icon.svg" width="50" height="50" />
      <span>InterLab</span>
    </div>

    <div class="spacer"></div>

    <button mat-icon-button routerLink="bookmark-stock">
      <mat-icon>bookmark</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>language</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="useLanguage('en')">{{ 'Navbar.Language.English' | translate }}</button>
      <button mat-menu-item (click)="useLanguage('fr')">{{ 'Navbar.Language.French' | translate }}</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
